version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: shop
      POSTGRES_USER: shop
      POSTGRES_PASSWORD: shop123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code:Z
    ports:
      - "8000:8000"
    depends_on:
      - db
      - rabbitmq
    environment:
      DJANGO_SETTINGS_MODULE: config.settings

  celery:
    build: .
    command: celery -A config worker -l info
    volumes:
      - .:/code:Z
    depends_on:
      - db
      - rabbitmq
    environment:
      DJANGO_SETTINGS_MODULE: config.settings

volumes:
  postgres_data: